@page "/login"

<PageTitle>Login</PageTitle>


<h1>User Login</h1>
<div class="p-4">       
        <div class="col-md-3">            
            Click <a href="https://userwebapplication.auth.us-west-1.amazoncognito.com/login?client_id=6mv9lksdu6276dqbggh4a38pd4&response_type=token&scope=aws.cognito.signin.user.admin+email+openid&redirect_uri=https://localhost:7055/success">here</a> to login
        </div>        
</div>

